= link_to match_path(match) do
  %div#banner
    %div.user.left
      %span.user_image
        = image_tag match.player1.gravatar_url
      %span.user_name
        = match.player1.name

    %div.user.right
      %span.user_image
        = image_tag match.player2.gravatar_url
      %span.user_name
        = match.player2.name