%p= @match.category.name
%p= "#{time_ago_in_words(@match.created_at)} ago"
= banner(@match)

- form_for(:answer, :url => match_answers_path(@match)) do |f|
  = f.hidden_field :authentication_token, value: params[:t]
  %table
    - @match.questions.each do |question|
      %tr
        %td
          = question.body
        %td
          - if current_user == @match.player1
            = text_area_tag "answer[questions][#{question.id}]"
        %td
          - if current_user == @match.player2
            = text_area_tag "answer[questions][#{question.id}]"

  = f.submit