= simple_form_for(@match, :url => matches_path) do |f|
  = f.fields_for :player1 do |ff|
    = ff.input :name
    = ff.input :email

  = f.fields_for :player2 do |ff|
    = ff.input :name
    = ff.input :email
  
  = f.submit