= render :partial => 'shared/share', :locals => { :url => request.url }

%div.match-time
	%h1= @match.category.name
	%h5= "#{time_ago_in_words(@match.created_at)} ago"

= banner(@match)

%table
	%thead
		%tr
			%td Question
			%td(width="200") 
				= resource.player1.name
			%td(width="200") 
				= resource.player2.name
	- # TODO: we just show all answers  now regardless of status
	- @match.questions.each do |question|
		%tr
			%td
				= question.body
			%td
				= @player1_answers[question.id] unless @player1_answers.empty?
			%td
				= @player2_answers[question.id] unless @player2_answers.empty?

%div#comments
	%h1 Comments the 'Matchaa!'
	#fb-root
	%script{:src => "http://connect.facebook.net/en_US/all.js#xfbml=1"}
	%fb:comments{:href => match_url(@match), :num_posts => "10", :width => "900"}