%div.match-time
	%h1= @match.category.name
	%h5= "#{time_ago_in_words(@match.created_at)} ago"

= banner(@match)

%table
	%thead
		%tr
			%td Question
			%td(width="200") Player 1
			%td(width="200") Player 2
	- # TODO: we just show all answers  now regardless of status
	- @match.questions.each do |question|
		%tr
			%td
				= question.body
			%td
				= @player1_answers[question.id] unless @player1_answers.empty?
			%td
				= @player2_answers[question.id] unless @player2_answers.empty?
